@model EadProject.Models.Employee
@{
    ViewBag.Title = "HRM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>PlusBusiness</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="~/Content/layout.css" type="text/css" />
<script type='text/javascript' src="scripts/jquery-1.8.2.min.js"></script>
<script type='text/javascript' src="jquery-ui.js"></script>
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.jcarousel.setup.js"></script>
</head>
<body id="top">
<h1><a href="~/HRM/Create">Add Employee</a></h1>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmpId)
            @Html.ValidationMessageFor(model => model.EmpId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmpName)
            @Html.ValidationMessageFor(model => model.EmpName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    <h1><a href="~/HRM/Index">Update Employee</a></h1>
    <h1><a href="~/HRM/Index">Delete Employee</a></h1>
    <h1><a href="~/HRM/Index">Search Employee</a></h1>
</body>
</html>
