@model EadProject.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/mylayout.cshtml";
}

<h2>Register</h2>

<div id="checking">Checking...</div>
<div>
    <div id="result"></div>
    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {

            //alert('User Name =');

            $('#checking').hide();

            $('#b1').click(function () {
               
                var userName = $('#UserName').val();

                //alert('User Name ='+ userName);
                $('#checking').show();
                $.getJSON("/User/CheckUserName?UserName=" + userName, function (data)
                {
                    $('#checking').hide();
                    if (data) {
                        $('#result').text("User already exists in database");
                        
                    }
                    else {
                        $('#result').text("User Name is available");
                    }
                });

            });

        });
    </script>
</div>


@using (Html.BeginForm("Create","User")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserName, new { id="UserName"})
            <input type="button" id="b1" value="Check" />
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_of_Birth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_of_Birth)
            @Html.ValidationMessageFor(model => model.Date_of_Birth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmpId)
            @Html.ValidationMessageFor(model => model.EmpId)
        </div>
        @ViewBag.message;
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>